.MovieListNav{
    height: 100%;
    flex-direction: column;
    position: fixed;
    display: inline-block;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    overflow:auto;
    justify-content: center;
    
}

.MovieListItem{
    list-style-type: none;
    text-decoration: none;
    display: block;
    padding-bottom: 3px;
    
}
.MovieListNav_list-link{
    text-decoration: none;
    color: black;
}
.MovieListNav_list-link:active,
.MovieListNav_list-link:hover{
    color: coral;
}
.MovieListNav_list-link:visited{
    text-decoration: none;
    color: black;

}

.newList-input{
    display: block;
    margin-left: 10px;
}

