.MovieListItem{
    list-style-type: none;
    text-decoration: none;
    display: block;
    outline: none; 
}
.MovieListNav_list-link{
    text-decoration: none;
    color: black;
}
.MovieListNav_list-link:active,
.MovieListNav_list-link:hover{
    color: coral;
}
.MovieListNav_list-link:visited{
    text-decoration: none;
}

.MovieListNav_list:focus{
    outline: transparent;
}
.newList-form{
    outline: transparent;
}

.newList-input{
    display: block;
    margin-left: 55px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2%;
}

.MovieListNav_list-link:hover + .delete-btn{
    display: inline-block;
}

.delete-btn:hover{
    display: inline-block;
}
.delete-btn{
    display: none;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  outline: none; 
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #F1FAEE;
}

/* Individual item */
.bm-item {
  display: inline-block;
}
 .bm-menu { overflow-y: hidden !important; } 

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item MovieListNav_list{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-inline-start: 0px;
}