.App {
  display: flex;
  /* flex-wrap: wrap; */
}

.App_Main{
    width: 100%;
}

.toast-notification{
  width: 80%
}

@media only screen and (min-width: 768px){
  .toast-notification{
    width: 100%
  }
}