.moviecard{
    margin: 20px auto auto;
    min-width: 125px;
    max-width: 45%;
    box-shadow: 0px 6px 18px rgba(0,0,0,.1);
    border-radius: 8px;
}

.movieposter{
    min-width: 125px;
    width: 35%;
    height: 45%;
    object-fit: contain;
    align-self: flex-start;
    padding-right: 2%;
}

.movieposter{
    max-width: 125px;
}

h2{
    text-align: center;
}
p{
    padding: 2px;
}
movietext{
    flex: 1 1 auto;
}

.movietitle{
    font-size: 1em;
}

.movieoverview{
    font-size: .6em;
}




/* set media query for desktop view; set the width and height */
@media (min-width: 767px) {
.moviecard{
    display: flex;
}
.movieposter{
    text-align: center;
    justify-content: center;
}
.movieoverview{
    font-size: .8rem;
}
}
