.moviecard{
    display: flex;
    margin: 0 auto 50px;
    max-width: 45%;
}

.movieposter{
    min-width: 125px;
    width: 35%;
    height: 45%;
    object-fit: contain;
    align-self: flex-start;
    padding-right: 2%;
}

movietext{
    flex: 1 1 auto;
}

.movietitle{
    font-size: 1em;
}

.movieoverview{
    font-size: .6em;
}




/* set media query for desktop view; set the width and height */
