.moviecard {
  margin: 20px auto auto;
  min-width: 125px;
  max-width: 45%;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.movieposter {
  width: 135px;
  height: 187px;
  object-fit: contain;
  align-self: flex-start;
  padding-right: 2%;
  vertical-align: middle;
  justify-content: center;
}

h2 {
  text-align: center;
  flex-direction: row;
}

.movietitle {
  font-size: 1em;
}

.movieoverview {
  padding: 0 4% 4% 4%;
  font-size: 0.6em;
  text-align: start;
}
p{
  text-align: left;
}

.vote-btn:disabled{
  color:#95A5A6;
  background-color: #7F8C8D;
}

/* set media query for desktop view; set the width and height */
@media (min-width: 767px) {
  .moviecard {
    display: flex;
  }
  .movieposter {
    top: 50%;
  }
  .movieoverview {
    font-size: 0.8rem;
  }
}
