.loginWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Intro{
    width: 200px;
}

.Intro h2{
    font-size: 1.2em;
}

.Intro h3{
    font-size: .8em;
}