.movielist-wrapper {
  margin-top: -22px;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.MovieList-heading {
  align-items: center;
  width: 100%;
}

:root {
  --sidebar-width: 100px;
}

.App-Title {
  color: #1d3557;
  margin-left: 14%;
}
.selectedListHeading {
  color: #457b9d;
}

button {
  margin-bottom: 8px;
  display: inline-block;
  padding: 0.25em 1em;
  border: 0.1em solid #000000;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  color: #ffffff;
  background-color: #000000;
}


@media only screen 
  and (min-device-width: 1200px) {
  .App-Title{
    margin-left: 7%;
}
}