.movielist-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.MovieList-heading {
  align-items: center;
  width: 100%;
}

/* .sidebar{
    width: 25%;
    flex: 1;
}
.main-content{
    width: 75%;
    flex: 3;
} */
:root {
  --sidebar-width: 100px;
}

h1 {
  color: #1D3557;
}
.selectedListHeading{
    color: #457B9D;
}

.vote-btn{
    margin-bottom: 8px;
}